<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.open()" ><mat-icon>menu</mat-icon></button>
  <span>News Headlines</span>  
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu">Country <mat-icon><i class="material-icons"></i></mat-icon></button>
  <button mat-button [matMenuTriggerFor]="appMenu1">Language</button>
  <!-- <mat-search-bar [formControl]="control" (onEnter)="handleSearch($event); search.value = ''; search.close()" #search></mat-search-bar> -->
</mat-toolbar>

<mat-menu #appMenu1="matMenu">
  <button mat-menu-item (click)="translate('af')">Afrikaans</button>
  <button mat-menu-item (click)="translate('sq')">Albanian</button>
  <button mat-menu-item (click)="translate('am')">Amharic</button>
  <button mat-menu-item (click)="translate('ar')">Arabic</button>
  <button mat-menu-item (click)="translate('hy')">Armenian</button>
  <button mat-menu-item (click)="translate('az')">Azerbaijan</button>
  <button mat-menu-item (click)="translate('ba')">Bashkir</button>
  <button mat-menu-item (click)="translate('eu')">Basque</button>
  <button mat-menu-item (click)="translate('be')">Belarusian</button>
  <button mat-menu-item (click)="translate('bn')">Bengali</button>
  <button mat-menu-item (click)="translate('bs')">Bosnian</button>
  <button mat-menu-item (click)="translate('bg')">Bulgarian</button>
  <button mat-menu-item (click)="translate('my')">Burmese</button>
  <button mat-menu-item (click)="translate('ca')">Catalan</button>
  <button mat-menu-item (click)="translate('ceb')">Cebuano</button>
  <button mat-menu-item (click)="translate('zh')">Chinese</button>
  <button mat-menu-item (click)="translate('hr')">Croatian</button>
  <button mat-menu-item (click)="translate('cs')">Czech</button>
  <button mat-menu-item (click)="translate('da')">Danish</button>
  <button mat-menu-item (click)="translate('nl')">Dutch</button>
  <button mat-menu-item (click)="translate('en')">English</button>
  <button mat-menu-item (click)="translate('eo')">Esperanto</button>
  <button mat-menu-item (click)="translate('et')">Estonian</button>
  <button mat-menu-item (click)="translate('fi')">Finnish</button>
  <button mat-menu-item (click)="translate('fr')">French</button>
  <button mat-menu-item (click)="translate('gl')">Galician</button>
  <button mat-menu-item (click)="translate('ka')">Georgian</button>
  <button mat-menu-item (click)="translate('de')">German</button>
  <button mat-menu-item (click)="translate('el')">Greek</button>
  <button mat-menu-item (click)="translate('gu')">Gujarati</button>
  <button mat-menu-item (click)="translate('ht')">Haitian (Creole)</button>
  <button mat-menu-item (click)="translate('he')">Hebrew</button>
  <button mat-menu-item (click)="translate('mrj')">Hill Mari</button>
  <button mat-menu-item (click)="translate('hi')">Hindi</button>
  <button mat-menu-item (click)="translate('hu')">Hungarian</button>
  <button mat-menu-item (click)="translate('is')">Icelandic</button>
  <button mat-menu-item (click)="translate('id')">Indonesian</button>
  <button mat-menu-item (click)="translate('ga')">Irish</button>
  <button mat-menu-item (click)="translate('it')">Italian</button>
  <button mat-menu-item (click)="translate('ja')">Japanese</button>
  <button mat-menu-item (click)="translate('jv')">Javanese</button>
  <button mat-menu-item (click)="translate('kn')">Kannada</button>
  <button mat-menu-item (click)="translate('kk')">Kazakh</button>
  <button mat-menu-item (click)="translate('km')">Khmer</button>
  <button mat-menu-item (click)="translate('ko')">Korean</button>
  <button mat-menu-item (click)="translate('ky')">Kyrgyz</button>
  <button mat-menu-item (click)="translate('lo')">Laotian</button>
  <button mat-menu-item (click)="translate('la')">Latin</button>
  <button mat-menu-item (click)="translate('lv')">Latvian</button>
  <button mat-menu-item (click)="translate('lt')">Lithuanian</button>
  <button mat-menu-item (click)="translate('lb')">Luxembourgish</button>
  <button mat-menu-item (click)="translate('mk')">Macedonian</button>
  <button mat-menu-item (click)="translate('mg')">Malagasy</button>
  <button mat-menu-item (click)="translate('ms')">Malay</button>
  <button mat-menu-item (click)="translate('ml')">Malayalam</button>
  <button mat-menu-item (click)="translate('mt')">Maltese</button>
  <button mat-menu-item (click)="translate('mi')">Maori</button>
  <button mat-menu-item (click)="translate('mr')">Marathi</button>
  <button mat-menu-item (click)="translate('mhr')">Mari</button>
  <button mat-menu-item (click)="translate('mn')">Mongolian</button>
  <button mat-menu-item (click)="translate('ne')">Nepali</button>
  <button mat-menu-item (click)="translate('no')">Norwegian</button>
  <button mat-menu-item (click)="translate('pap')">Papiamento</button>
  <button mat-menu-item (click)="translate('fa')">Persian</button>
  <button mat-menu-item (click)="translate('pl')">Polish</button>
  <button mat-menu-item (click)="translate('pt')">Portuguese</button>
  <button mat-menu-item (click)="translate('pa')">Punjabi</button>
  <button mat-menu-item (click)="translate('ro')">Romanian</button>
  <button mat-menu-item (click)="translate('ru')">Russian</button>
  <button mat-menu-item (click)="translate('gd')">Scottish</button>
  <button mat-menu-item (click)="translate('sr')">Serbian</button>
  <button mat-menu-item (click)="translate('si')">Sinhala</button>
  <button mat-menu-item (click)="translate('sk')">Slovakian</button>
  <button mat-menu-item (click)="translate('sl')">Slovenian</button>
  <button mat-menu-item (click)="translate('es')">Spanish</button>
  <button mat-menu-item (click)="translate('su')">Sundanese</button>
  <button mat-menu-item (click)="translate('sw')">Swahili</button>
  <button mat-menu-item (click)="translate('sv')">Swedish</button>
  <button mat-menu-item (click)="translate('tl')">Tagalog</button>
  <button mat-menu-item (click)="translate('tg')">Tajik</button>
  <button mat-menu-item (click)="translate('ta')">Tamil</button>
  <button mat-menu-item (click)="translate('tt')">Tatar</button>
  <button mat-menu-item (click)="translate('te')">Telugu</button>
  <button mat-menu-item (click)="translate('th')">Thai</button>
  <button mat-menu-item (click)="translate('tr')">Turkish</button>
  <button mat-menu-item (click)="translate('udm')">Udmurt</button>
  <button mat-menu-item (click)="translate('uk')">Ukrainian</button>
  <button mat-menu-item (click)="translate('ur')">Urdu</button>
  <button mat-menu-item (click)="translate('uz')">Uzbek</button>
  <button mat-menu-item (click)="translate('vi')">Vietnamese</button>
  <button mat-menu-item (click)="translate('cy')">Welsh</button>
  <button mat-menu-item (click)="translate('xh')">Xhosa</button>
  <button mat-menu-item (click)="translate('yi')">Yiddish</button>
</mat-menu>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('au')">Australia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('at')">Austria</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('be')">Belgium</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('br')">Brazil</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('bg')">Bulgaria</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ca')">Canada</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('cn')">China</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('co')">Colombia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('cu')">Cuba</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('cz')">Czechia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('eg')">Egypt</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('fr')">France </button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('de')">Germany</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('gr')">Greece</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('hk')">Hong Kong</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('hu')">Hungary</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('in')">India(en)</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('id')">Indonesia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ie')">Ireland</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('il')">Israel</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('it')">Italy</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('jp')">Japan</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('lv')">Latvia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('lt')">Lithuania</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('my')">Malaysia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('mx')">Mexico</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ma')">Morocco</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('nl')">Netherlands</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('nz')">New Zealand</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ng')">Nigeria</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('no')">Norway</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ph')">Philippines</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('pl')">Poland</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('pt')">Portugal</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ro')">Romania</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ru')">Russia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('sa')">Saudi Arabia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('rs')">Serbia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('sg')">Singapore</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('sk')">Slovakia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('si')">Slovenia</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('za')">South Africa</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('kr')">South Korea</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ar')">Spain</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('se')">Sweden</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ch')">Switzerland</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('tw')">Taiwan</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('th')">Thailand</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('tr')">Turkey</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ae')">UAE</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('gb')">UK</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('us')">US</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ua')">Ukraine</button>
    <button mat-menu-item (click)="getArticlesBasedOnLanguage('ve')">Venezula</button>
</mat-menu>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
      <mat-list-item class="list-item" *ngFor="let source of mSources"
        (click)="searchArticles(source.name); sidenav.close();">
        <img class="icon" src={{source.src}} />
        <span class="source-name"> {{source.name}}</span>

      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <!-- <mat-grid-list cols="1">
    <mat-grid-tile *ngFor="let article of mArticles">
      <div> -->
        <mat-card class="example-card" *ngFor="let article of mArticles">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}"
              class="example-header-image"></div>
            <mat-card-title class="title">{{article.title}}</mat-card-title>
            <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
          <mat-card-content>
            <p>
              {{ article.description }}
            </p>
          </mat-card-content>
          <mat-card-actions class="action-buttons">
            <a mat-button color="primary" href={{article.url}} target="_blank">
              <mat-icon>visibility</mat-icon> More
            </a>
          </mat-card-actions>
        </mat-card>
      <!-- </div>
    </mat-grid-tile>
  </mat-grid-list> -->
</mat-sidenav-container>

